/* inter */

@font-face {
    font-family: inter;
    src: url(/assets/fonts/Inter/Inter_24pt-Regular.ttf);
    font-weight: 400;
}

/* vianio */

@font-face {
    font-family: vianio;
    src: url(/assets/fonts/Vianio/VanioTrial-Regular.ttf);
}